# Ignore hidden files and directories
**/.*

# Ignore git directories (redundant)
.git
.gitattributes

# Ignore generated user results
results/*

# Do not include PDBBind files
# (quite likely they are in the same directory)
**/pdbbind_sequences.fasta
**/PDBBind_processed/
